#navbar{
    top: 0px;
    position: sticky;
    background-color: aqua;
}

div#navbar ul li{
    display: inline;
    margin-right: 20px;
}
#form{
    width: 70%;
    top: 30%;
    padding-top: none;
    padding-bottom: 20px;
    padding-left: none;
    padding-right: 60px;
    margin-bottom: none;
    margin-right: 60px ;
    border-color: aqua;
}
label{
    margin-bottom: 500px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 50px;
}
input{
    background-color: gray;
    border-left-color: red;
    border-style: dotted;
    margin-left: 10px;
}
button{background-color: aquamarine;
 margin-left: 10px;
 border-radius:5px ;
} 